body{
	margin:0;
	padding:0;
	font-family:GABRIOLA,sans-serif;
	color:#000;
}
div{
	box-sizing:border-box;
}
 header{
	background:#E9967A url(../img-main/1.png)no-repeat center top/cover ;
	height: 100vh;
	margin:0;
	padding:0;
}
body {
	line-height: 25px;
	display:block;
	width:100%;
	background:#F5F5F5 ;
}


h1{
	margin:100px 120px;
	font-size:150px;
	font-style:italic;
	color:#B8860B;
	display:block;
}
 h2{
	 font-size:43px;
	 text-align:center;
	 line-height:55px;
	 text-shadow:5px 3px 15px #000000;
	 font-style:italic;
	 color:#B8860B;
	 width:500px;
	 margin-left:500px;
	 margin-top:280px;
 }
 #blockquote{
	 width:100%;
 }
 
 .title{
	 height:630px;
 }
 #ay  p {
	font-family:Cuprum, sans-serif;
	color:red;
	:bold;
	/*margin:10px;*/
 }
 #navigation :after{
	content:'';
	display: block;/*table*/
	width: 100%;
	clear: both;
}
#navigation{
	margin-right:-40px;
}
 /*пишем в линию*/
 #navigation  ul li{/*!!!!!!!!!!!!!*/
	 float:right;
	 position:relative;
	 display:block; 
     word-spacing: 5px;
	 widht:180px;
 }
 #navigation ul li{
	/*margin-left:30px;*/
	 border:0 dotted #fff;
	 width:180px;
 }
  #navigation  li a{
	 color:red;
	 /*padding:10px 20px;отступ между словами*/
	 font:23px/1.1"segoe script", sans-serif;
	 /*text-align:center;*/
	 text-shadow:5px 3px 1px #573a3a,4px 2px 1px #0e0e0e;
	 text-decoration:none;
	 /*width:100px;*/
	 /*height:25px;*/
 }
  #navigation  li a:hover{
	  background: #000000;
  }
 /*конец*/ 

 h6{
	color:red;
	position:absolute;
	left:100px;
	top:-15px;
	font-size:26px;
}
/**//**//**/
.cont1{
	width:1100px;
	margin: 0 auto;
	overflow:hidden;/*скрывать все что выше*/
}
.container {
	width:990px;
	margin: 0 auto;
	overflow:hidden;/*скрывать все что выше*/
}
.cont{
	height:100px;
}

h3{
	font-weight:bolder;
	font-size:90px;
	font-style:italic;
	text-align:center;
	text-shadow:5px 3px 12px #131213;
	margin:35px;
}
.cont p {
	font-size:35px;
	position:absolute;
	top:713px;
	left:590px;
}

#nav{
	float:right;
	width: 280px;
	text-align:center;
	margin-right:0 auto;
}
#nav h4{
	font-size:40px;
	margin-bottom:3px;
	margin-top:15px;
}
#nav p {
	font:15px/1.2 Verbana;
	
}
#nav:last-child {
	float: left;
	
}
#nav:nth-child(2) {
	margin-right:95px;
	
}
/**//**//**/

.contacts{
	background:url(../img-main/1-9.png)no-repeat  top/cover ;
	height: 100vh;
	position:absolute;
	width:990px;
}
.contacts p{
	float:right;
	display:block;
	font:14px/1.1 Verbana;
	margin-top:-80px ;
	margin-right:40px;
}
h5{
	font-size:30px;
	margin-top:220px;
	margin-left: 400px;
}

.contacts ul li{
	position:absolute;
	right:280px;
}

#img{
	position:absolute;
	/*float:right;*/
	/*margin-right:300px;*/
	margin-top:650px;
}
section p{
	
	font-size:35px;
	margin-left:570px;
}
section img{
	margin-left:182px;
	height:400px;
	width:990px;
}
#slide_text{
	margin-left:90px;
	font-size:30px;
}
#stop{
	margin-left:100px;
	font-size:30px;
}
#go{
	margin-left:70px;
	font-size:30px;
}
.footer{
	display:block;
	text-decoration:none;
	background:rgba(0, 0, 0, 0.92);
	height:250px;
}
#socialNetwork{ 
background:url(../img/44-1.jpg) no-repeat center top;
margin-left:315px; 
margin-bottom:20px;
width:720px;
height:250px;
}
.w{ 
position:absolute; 

} 

#socialNetwor{ 
float:right; 
margin-right:420px; 
/**margin-top:110px;**/
} 
h5{ 
font-size:70px;
text-align:center;
padding-top:20px;
}
#socialNetwor:last-child{ 
margin-left:100px; 
}

