body{
	font-family:Helvetica,Arial;
	font-size:15px;
	line-height:1.42857143;
	color:#333;
}
body{
	margin:0;
	padding:0;
	min-height:100%;
}
div{
	box-sizing:border-box;
}

header{
	/*width:100%;*/
}
header:before{
	content:'';
	display: block;/*table*/
	width: 100%;
	clear: both;
}
.menu{
	border-bottom:1px solid  #696969;
}
.content {
	padding-left:35px;
	font-size:18px;
	line-height:50px;
	color:#000000;
	border-bottom:1px solid #A9A9A9;
}
.page a{
	width:800px;
	height:50px;
	padding:30px;
	text-decoration:none;
	color:#000000;
}
.buu a{
	width:300px;
	height:50px;
	padding:10px;
	text-decoration:none;
	color:#000000;
}
.buu{
	position:absolute;
	display:flex;
	margin-top:-50px;
	margin-left:950px;
}
.order-status{
	height:38px;
	text-align:right;
	width:150px;
}
.cabinet{
	height:38px;
	text-align:right;
	width:150px;
}
.img{
	margin-top:-45px;
	margin-right:80px;
}
h1{
	font-size:50px;
	word-spacing:3px;
}
.name{
	line-height:1px;
	padding-left:35px;
}
.list_page{
	display:flex;
	line-height:50px;
	background: linear-gradient(green, lawngreen);
}
.list_page a{
	padding-left:14px;
	line-height:55px;
	font-size:19px;
	color:#fbf8f8;
	text-decoration:none;
}

.landscape{
	padding:200px;
	box-sizing:content-box;
	text-align:center;
}


h2{
	font:50px sans-serif;
	color:green;
}
h2:before, h2:after { 
content: "\269C"; 
display: inline-block; 
font-size: 60px; 
color:red; 
-webkit-animation: my 4s infinite alternate; 
animation: my 4s infinite alternate; 
}
h2:before { 
margin-right: 0.5em; 
}
h2:after { 
margin-left: 0.5em; 
}
@-webkit-keyframes my {
    0%   {color: #FFFF00;}
    25%  {color: #00FF00;}
    50%  {color:  #EE82EE;}
    75%  {color: #f7b21c;}
    100% {color:  #FFB6C1;}
 }
@keyframes my {
    0%   {color: #FFFF00;}
    25%  {color: #00FF00;}
    50%  {color:  #EE82EE;}
    75%  {color: #f7b21c;}
    100% {color:  #FFB6C1;}
 }
 
.review{
	margin-left: 210px;
}
h3{
	font: 38px sans-serif;
    color: green;
	margin-left:265px;
}
.container{
	margin-top:90px;
	width:800px;
	height:320px;
	display:table-row;
}
#review{
	width:270px;
	float:left;
	text-align:center;
}
#review:nth-child(2){
	margin-left:50px;
}
#review:last-child{
	margin-left:50px;
}

blockquote{
	margin-top:120px;
}
.blockquote{
	margin-top:50px;
	margin-left:120px;
	height:320px;
	display:inline-grid;
}
.accordion p {
	font-size:20px;
	display:none;
}
h4{
	font-size:40px;
	margin-left: 320px;
}
.accordion h4:hover{
	color:red;
}
